.header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom right, rgba($color-primary, .95), transparent), url(../img/turtle.jpg);
  background-size: cover;
  background-position: center;
  grid-row: 1 / span 1;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: 10rem 1fr max-content;
  grid-template-columns: repeat(2, 6.5vw) 1fr repeat(2, 6.5vw);

  &__logo {
    grid-column: 1 / span 2;
    width: 100%;
    max-width: 18.3rem;
    align-self: center;
    justify-self: center;
    padding-left: 3rem;
  }

  & .nav {
    grid-column: 3 / span 1;
    align-self: center;
    justify-self: center;

    &__item {
      list-style: none;
      display: inline-block;

      &:not(:last-child) {
        padding-right: 3rem;
      }
    }

    &__link {
      font-size: 1.4rem;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      transition: all .2s;

      &:hover {
        color: $color-secondary;
      }
    }
  }

  &__icon-links {
    grid-column: 5 / span 1;
    align-self: center;
  }

  &__icon-link {
    display: inline-block;
    &:not(:last-child) {
      padding-right: 2rem;
    }
  }

  &__text {
    grid-column: 3 / span 1;
    align-self: center;
  }

  &__heading-1 {
    font-size: 8rem;
    color: #fff;
    font-weight: 700;
  }

  &__heading-3 {
    font-size: 2.2rem;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 3.5rem;
  }

  &__heading-4 {
    font-size: 2.2rem;
    font-weight: 400;
    color: $color-grey-dark-1;
    margin: 0 2rem;
  }

  &__paragraph--head {
    font-size: 2.2rem;
    font-weight: 500;
    color: #fff;
    display: inline-block;
    padding-bottom: 1rem;
    padding-right: 2rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #fff;
  }

  &__social-icons {
    grid-column: 1 / span 1;
    justify-self: center;
    margin-bottom: 7.8rem;
    display: grid;
    align-items: flex-end;
  }

  &__social-icons a {
    display: block;
    &:not(:first-child) {
      padding-top: 2rem;
    }
  }

  &__donation {
    grid-column: 2 / span 3;
    background-color: #fff;
    margin-bottom: 7.8rem;
    padding: 1rem;
    height: 12rem;
    align-self: center;
  }

  &__amount,
  &__period {
    margin: 0 2rem;
  }

  &__form {
    display: grid;
    grid-template-columns: max-content repeat(3, 1fr);
    align-items: center;
    justify-items: center;
  }

  &__btn {
    height: 10rem;
    border: none;
    font-size: 2.2rem;
    text-transform: uppercase;
    justify-self: stretch;
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: #fff;
  }
}
